<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_users.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar fixa -->
    <nav class="navbar">
        <div class="logo">
            <h1><a href="{{ url_for('user_routes.dashboard') }}">Sampa Point</a></h1>
        </div>
    </nav>



        <!-- Conteúdo principal -->
        <div class="main-container">
            <!-- Exibir mensagens flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            <h2>Lista de Points</h2>
            
        <!-- Tabela de pontos -->
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Endereço</th>
                    <th>Acessibilidade</th>
                    <th>Custos</th>
                    <th>Estações</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for point in points %}
                <tr>
                    <td>{{ point.nome }}</td>
                    <td>{{ point.categoria }}</td>
                    <td>{{ point.endereco }}</td>
                    <td>{{ point.acessibilidade }}</td>
                    <td>{{ point.custos }}</td>
                    <td>{{ point.estacoes }}</td>
                    <td>{{ point.cidade }}</td>
                    <td>{{ point.bairro }}</td>
                    <td>{{ point.latitude }}</td>
                    <td>{{ point.longitude }}</td>
                    <td class="editar">
                        <a href="{{ url_for('point_routes.edit_point', point_id=point._id|string) }}">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>
