* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

.container {
    max-width: 412px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header, .input-container {
    margin-bottom: 20px;
}

.label {
    display: block;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 22px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: rgba(0, 0, 0, 1);
}

.image {
    width: 100%;
    height: auto;
    background: url("../images/v83_439.png") center center / cover no-repeat;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center; /* Centralizar o botão */
}

.button {
    background: rgba(254, 0, 0, 1);
    border-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 15px 30px; /* Aumentar o padding horizontal */
    text-decoration: none; /* Remover underline */
}

.button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .label {
        font-size: 14px;
    }
    .input-field {
        font-size: 14px;
    }
    .button {
        font-size: 20px;
    }
}
