/* Reset básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 480px;
	padding: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Top Section: Avatar, Nome e Pontuação */
.top-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #EADDFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-details {
	flex-grow: 1;
	text-align: center;
}

.username {
	font-size: 1.5rem;
	color: black;
	justify-content: center;
	align-items: center;
}

#radarChart {
	width: 100%;
	max-width: 150px;
	max-height: 150px;
}

/* Divider */
.divider {
	width: 100%;
	height: 1px;
	background-color: #CAC4D0;
	margin: 20px 0;
}

/* Título "Minhas Experiências" */
.title-section {
	text-align: center;
	font-size: 1.25rem;
	margin-bottom: 20px;
}

/* Grid de Experiências */
.grid-experiences {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;
	width: 100%;
	text-align: center;
}

.experience {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experience-icon {
	width: 60px;
	height: 60px;
}

.experience p {
	font-size: 0.875rem;
	margin-top: 5px;
}

/* Botão "Voltar" */
.button-red {
	margin-top: 20px;
	width: 150px;
	height: 50px;
	background-color: #FE0000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 22px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-red a {
	color: white;
	font-size: 1rem;
	text-decoration: none;
	font-weight: 500;
}