<!DOCTYPE html>
<html lang="pt-BR">
<body>
    <!-- Navbar fixa -->
    <nav class="navbar">
        <div class="logo">
            <h1><a href="{{ url_for('user_routes.dashboard') }}"></a></h1>
        </div>
        <ul class="nav-links">

        </ul>
    </nav>

    

        <!-- Conteúdo principal -->
        <div class="main-container">
            <h2>Cadastre -se</h2>

            <!-- Exibir mensagens flash de sucesso ou erro -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <!-- Formulário de criação de usuário -->
            <form action="{{ url_for('user_routes.create_point_route') }}" method="POST">

                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" required><br><br>
                

                <label for="categoria">Categoria:</label><br>
                <input type="text" id="categoria" name="categoria" required><br><br>

                <label for="endereco">Endereço:</label><br>
                <input type="text" id="endereco" name="endereco" required><br><br>

                <label for="acessibilidade">Acessibilidade:</label><br>
                <input type="text" id="acessibilidade" name="acessibilidade" required><br><br>

                <label for="custos">Custos:</label><br>
                <input type="text" id="custos" name="custos" required><br><br>

                <label for="estacoes">Estações:</label><br>
                <input type="text" id="estacoes" name="estacoes" required><br><br>

                <label for="cidade">Cidade:</label><br>
                <input type="text" id="cidade" name="cidade" required><br><br>

                <label for="bairro">Bairro:</label><br>
                <input type="text" id="bairro" name="bairro" required><br><br>

                <label for="latitude">Latitude:</label><br>
                <input type="text" id="latitude" name="latitude" required><br><br>

                <label for="longitude">Longitude:</label><br>
                <input type="text" id="longitude" name="longitude" required>

                <button type="submit">Criar Point</button>
            </form>
        </div>
    </div>
</body>
</html>
