<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Responsiva</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>
    <div class="container">
        <!-- Avatar e Nome -->
        <div class="top-section">
            <div class="avatar">
                <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="Avatar de exemplo masculino"
                    class="avatar-image">
            </div>
            <div class="username">Joao Silva</div>
        </div>


        <div class="divider"></div>

        <!-- Botões de Ação -->
        <div class="buttons-section">
            <a href="{{ url_for('user_routes.perfil', user_id='6714e67a6c464ae3b6ca432d') }}" class="button">Perfil</a>
            <a href="{{ url_for('user_routes.desafios') }}" class="button">Desafios</a>
            <a href="{{ url_for('user_routes.get_user', user_id='6714e67a6c464ae3b6ca432d') }}" class="button">Checklist</a>
            <a href="{{ url_for('user_routes.selos') }}" class="button">Selos</a>
            <a href="{{ url_for('user_routes.dashboard') }}" class="button">Promoções</a>
        </div>

        <!-- Botão Voltar -->
        <div class="button-red" onclick="history.back()">Sair</div>

        </div>
    </div>
</body>

</html>