<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sampa Point</title>
</head>

<body>
        <!-- Conteúdo principal centralizado -->
        <div>
            <h2>Bem-vindo ao Sampa Point</h2>
        </div>

        <!-- Container principal com estrutura flexbox -->
        <div>
        <!-- Barra lateral com cartões -->
        <div>
            <a href="#"><h3>Perfil</h3></a>
            <a href="#"><h3>Desafios</h3></a>
            <a href="#"><h3>Checklist</h3></a>
            <a href="#"><h3>Selos</h3></a>
            <a href="#"><h3>Preferencias</h3></a>
        </div>

    </div>

    <!-- Mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>

</html>