</html>
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/inicio.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class=e5_8>
        <div class="e7_19"></div>
        <div class="e7_21"></div>
        <div class="e7_24"></div>
        <div class="e17_8"></div><span class="e14_2">Login</span><span class="e14_3">Cadastro</span><span
            class="e54_39">Saia da rotina!

            Venha explorar São Paulo de uma forma divertida.</span>
        <div class="e58_33"></div>
    </div>

    <!-- Mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>