<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_users.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar fixa -->
    <nav class="navbar">
        <div class="logo">
            <h1><a href="{{ url_for('user_routes.dashboard') }}">Sampa Point</a></h1>
        </div>
    </nav>



        <!-- Conteúdo principal -->
        <div class="main-container">
            <!-- Exibir mensagens flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            <h2>Lista de Usuários</h2>
            
            <!-- Tabela de usuários -->
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Nome Completo</th>
                        <th>Setor</th>
                        <th>Nivel</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user._id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.profile.first_name }} {{ user.profile.last_name }}</td>
                        <td>{{ user.setor }}</td>
                        <td>{{ user.nivel }}</td>
                        <td class="editar">
                            <a href="{{ url_for('user_routes.edit_user', user_id=user._id|string) }}">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
