<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_users.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h1><a href="{{ url_for('user_routes.dashboard') }}">Sampa Point</a></h1>
        </div>
    </nav>

    <div class="main-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <h2>Lista de Usuários</h2>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nome Completo</th>
                    <th>Data de Nascimento</th>
                    <th>Celular</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Selos</th>
                    <th>Checklist</th>
                    <th>Preferências</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.data_nascimento }}</td>
                    <td>{{ user.celular }}</td>
                    <td>{{ user.bairro }}</td>
                    <td>{{ user.cidade }}</td>
                    <td>{{ user.selos | join(', ') }}</td>
                    <td>{{ user.checklist | join(', ') }}</td>
                    <td>
                        {% for key, value in user.preferencias.items() %}
                            {{ key }}: {{ value }}<br>
                        {% endfor %}
                    </td>
                    <td class="editar">
                        <a href="{{ url_for('user_routes.edit_user', user_id=user._id|string) }}">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</body>
</html>
