<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet" />
    <link href="../static/css/selos.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v32_26">
        <div class="v117_535"></div>
        <div class="name"></div>
        <div class="v79_1010"></div><span class="v79_1011">Voltar</span>
        <div class="name"></div><span class="v79_1013">João silva</span><span class="v97_185">Nome
            Sobrenome</span><span class="v79_1014">Minhas Conquistas </span>
        <div class="name"></div>
        <div class="v79_1068"></div>
        <div class="v79_1069"></div>
        <div class="v79_1070">
            <div class="v79_1071"></div>
            <div class="v79_1072"></div>
            <div class="v79_1073"></div>
            <div class="v79_1074"></div>
        </div>
        <div class="v79_1075">
            <div class="name"></div>
            <div class="v79_1085"></div>
            <div class="v79_1086"></div>
            <div class="v79_1087"></div>
            <div class="v79_1088"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="v79_1118"></div>
        <div class="v79_1119"></div>
        <div class="v79_1121"></div>
        <div class="v79_1122"></div>
        <div class="v79_1124"></div>
        <div class="v79_1125"></div>
        <div class="v79_1126"></div>
        <div class="v79_1127"></div>
        <div class="v79_1129"></div><span class="v79_1130">Iron</span>
        <div class="v79_1131"></div>
        <div class="v79_1266"></div>
        <div class="v79_1267"></div>
        <div class="v79_1268">
            <div class="v79_1269"></div>
            <div class="v79_1270"></div>
            <div class="v79_1271"></div>
            <div class="v79_1272"></div>
        </div>
        <div class="v79_1273">
            <div class="name"></div>
            <div class="v79_1283"></div>
            <div class="v79_1284"></div>
            <div class="v79_1285"></div>
            <div class="v79_1286"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v79_1324"></div>
        <div class="v79_1325"></div>
        <div class="v79_1326">
            <div class="v79_1327"></div><span class="v79_1328">GOLD</span>
            <div class="v79_1329"></div>
        </div>
        <div class="v79_1200"></div>
        <div class="v79_1201"></div>
        <div class="v79_1202">
            <div class="v79_1203"></div>
            <div class="v79_1204"></div>
            <div class="v79_1205"></div>
            <div class="v79_1206"></div>
        </div>
        <div class="v79_1207">
            <div class="name"></div>
            <div class="v79_1217"></div>
            <div class="v79_1218"></div>
            <div class="v79_1219"></div>
            <div class="v79_1220"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v79_1258"></div>
        <div class="v79_1259"></div>
        <div class="v79_1260">
            <div class="v79_1261"></div><span class="v79_1262">Prata</span>
            <div class="v79_1263"></div>
        </div>
        <div class="v79_1134"></div>
        <div class="v79_1135"></div>
        <div class="v79_1136">
            <div class="v79_1137"></div>
            <div class="v79_1138"></div>
            <div class="v79_1139"></div>
            <div class="v79_1140"></div>
        </div>
        <div class="v79_1141">
            <div class="name"></div>
            <div class="v79_1151"></div>
            <div class="v79_1152"></div>
            <div class="v79_1153"></div>
            <div class="v79_1154"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v79_1192"></div>
        <div class="v79_1193"></div>
        <div class="v79_1194">
            <div class="v79_1195"></div><span class="v79_1196">BRONZE</span>
            <div class="v79_1197"></div>
        </div>
        <div class="v79_1383"></div>
        <div class="v79_1384"></div>
        <div class="v79_1385">
            <div class="v79_1386"></div>
            <div class="v79_1387"></div>
            <div class="v79_1388"></div>
            <div class="v79_1389"></div>
        </div>
        <div class="v79_1390">
            <div class="name"></div>
            <div class="v79_1400"></div>
            <div class="v79_1401"></div>
            <div class="v79_1402"></div>
            <div class="v79_1403"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v79_1441"></div>
        <div class="v79_1442"></div>
        <div class="v79_1444"></div><span class="v79_1445">Ouro</span>
        <div class="v79_1446"></div>
        <div class="v79_1451"></div>
        <div class="v97_217"></div>
        <div class="v97_218"></div>
        <div class="v97_219">
            <div class="v97_220"></div>
            <div class="v97_221"></div>
            <div class="v97_222"></div>
            <div class="v97_223"></div>
        </div>
        <div class="v97_224">
            <div class="name"></div>
            <div class="v97_234"></div>
            <div class="v97_235"></div>
            <div class="v97_236"></div>
            <div class="v97_237"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="v97_248"></div>
        <div class="v97_249"></div>
        <div class="v97_250"></div>
        <div class="v97_251"></div>
        <div class="v97_252"></div>
        <div class="v97_253"></div>
        <div class="v97_254"></div>
        <div class="v97_255"></div>
        <div class="v97_256"></div><span class="v97_257">aço</span>
        <div class="v97_258"></div>
    </div>
</body>

</html>