<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sucesso</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sucesso.css') }}">
</head>

<body>
	<div class="container">
        <a href="{{ url_for('user_routes.list_users') }}" class="button-star">
            <img src="{{ url_for('static', filename='image/vecteezy_happy-star-mascot-jumping-for-congratulation-with-colour-confetti_.jpg') }}"
                alt="Happy Star" class="success-image">
        </a>
        
            
	</div>
</body>

</html>